extends layout

block content
  if msg
    .error-container
      h1= msg
  .container
    h2 Robust User Interface
    p Paving the future, one briq at a time.
    .block
      h3 Add a user
      div
        span username:
        input#add-user(type="text", name="username")
        button#add ADD USER
    .block
      h3 Give briqs
      div
        input#amount(type="number")
        span Briqs from user ID:
        input#from(type="number")
        span To user ID:
        input#to(type="number")
        button#give GIVE BRIQS
    .block
      h3 User list
      .user-list
        .user
          div ID
          div USERNAME
          div BALANCE
          div DELETE USER
          div UPDATE USER
        each user in users
          .user
            div= user.id
            input(type="text", value=user.username, id='u1' + user.id)
            input(type="number", value=user.balance, id='u2' + user.id)
            button.update(data-id=user.id) update
            button.delete(data-id=user.id) delete
